@mixin button-themer($bg, $hoverbg, $inactiveBg, $color, $activeColor) {
  background: $bg;
  color: $color;
  &:hover {
    background:$hoverbg;
    transition: all 0.3s ease;
  }
  &:active {
    background:$light;
    color: $activeColor;
    outline: 0;
  }
  &:disabled {
    background:$inactiveBg;
    transition: all 0.3s ease;
  }
  &:focus {
    outline: 0;
  }
}

.btn {
  padding: 10px 22px;
  font-size: 0.8rem;
  border-radius: 24px;
  text-transform: uppercase;
  font-family: $headingFontMedium;
  &.iRight {
    position: relative;
    padding-right: 35px;
    i {
      position: absolute;
      top: 14px;
      right: 20px;
    }
  }
  &.iLeft {
    position: relative;
    padding-left: 35px;
    i {
      position: absolute;
      top: 14px;
      left: 20px;
    }
  }
  &.full {
    i {
      position: relative;
      margin: 0 7px;
    }
  }
  &:focus {
    outline: 0;
  }
  &.btn-green {
    @include button-themer($darkGreen, $darkHoverGreen, $inactiveGreen, $light, $mildGreen);
  }
  &.btn-green-mild {
    @include button-themer($mildGreen, $mildHoverGreen, $inactiveLightGreen, $light, $mildGreen);
  }

  &.btn-yellow {
    @include button-themer($yellow, $hoverYellow, $inactiveYellow, $charcoal, $charcoal);
  }
  &.btn-outline {
    border: 2px solid $charcoal;
    @include button-themer($grey, $darkerGrey, $light, $charcoal, $charcoal);
    &.active {
      background:$charcoal;
      color: $light;
    }
  }
  &.btn-light {
    border: 2px solid $charcoal;
    @include button-themer($light, $grey, $light, $charcoal, $charcoal);
    &.active {
      background:$charcoal;
      color: $light;
    }
  }
  &.btn-charcoal {
    @include button-themer($charcoal, $darkerCharcoal, $charcoalLight, $light, $light);
  }
  &.btn-round {
    cursor: pointer;
    color: $btnRoundColor;
    background: $btnRoundBg;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 1rem;
    border: none;
    padding: 0 10px;
    line-height: 36px;
    display: inline-block;
  }
}

.btn-group  {
  margin: 10px 0;
  > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-right-width: 0;
  }
  > .btn:last-child:not(:first-child) {
    border-left-width: 1px;
  }
}

.btn-increment {
  .btn {
    padding: 7px;
    &.minus {
      border-radius: 18px 0 0 18px;
    }
    &.plus {
      border-radius: 0 18px 18px 0px;
      margin-left: -5px;
    }
  }
  input {
    width: 75px;
    margin-left: -5px;
    text-align: center;
    height: 34px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    vertical-align: bottom;
    font-weight: 400;
    &:focus {
      border: 1px solid $charcoal;
      outline: 0;
    }
  }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
  }
}

.button-block {
  padding: 10px 0;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
  @media (max-width: 468px) {
    display: flow-root;
    text-align: center;
    margin: 15px 0;
    .btn {
      float: none;
      width: 100%;
      margin-bottom: 15px;
      i {
        position: initial;
      }
    }
  }
}
