.wowModal {
  .modal-content {
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: 0;
    .modal-body {
      padding: 48px;
      h1, h2, h3, h4, h5 {
        margin-bottom: 5px;
        line-height: 30px;
      }
      .btn {
        margin-top: 10px;
      }
    }
  }
}




.modal-open .modal {
    display: flex !important;
    height: 100%;
    .modal-dialog {
      margin: auto;
    }
}

.modal-backdrop {
  background: #eaeaea;
  &.in {
    opacity: 0.9;
  }
}
