@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSans/FreshSans-Regular_1_350_web.eot");
  src: url("components/fonts/FreshSans/FreshSans-Regular_1_350_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSans/FreshSans-Regular_1_350_web.woff2") format("woff2"), url("components/fonts/FreshSans/FreshSans-Regular_1_350_web.woff") format("woff"), url("components/fonts/FreshSans/FreshSans-Regular_1_350_web.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansItalic/FreshSans-Italic_web.eot");
  src: url("components/fonts/FreshSansItalic/FreshSans-Italic_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansItalic/FreshSans-Italic_web.woff2") format("woff2"), url("components/fonts/FreshSansItalic/FreshSans-Italic_web.woff") format("woff"), url("components/fonts/FreshSansItalic/FreshSans-Italic_web.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansLight/FreshSans-Light_web.eot");
  src: url("components/fonts/FreshSansLight/FreshSans-Light_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansLight/FreshSans-Light_web.woff2") format("woff2"), url("components/fonts/FreshSansLight/FreshSans-Light_web.woff") format("woff"), url("components/fonts/FreshSansLight/FreshSans-Light_web.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.eot");
  src: url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.woff2") format("woff2"), url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.woff") format("woff"), url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansLight/FreshSans-Light_web.eot");
  src: url("components/fonts/FreshSansLight/FreshSans-Light_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansLight/FreshSans-Light_web.woff2") format("woff2"), url("components/fonts/FreshSansLight/FreshSans-Light_web.woff") format("woff"), url("components/fonts/FreshSansLight/FreshSans-Light_web.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.eot");
  src: url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.woff2") format("woff2"), url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.woff") format("woff"), url("components/fonts/FreshSansLightItalic/FreshSans-LightItalic_web.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansRegular/FreshSans-Regular_web.eot");
  src: url("components/fonts/FreshSansRegular/FreshSans-Regular_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansRegular/FreshSans-Regular_web.woff2") format("woff2"), url("components/fonts/FreshSansRegular/FreshSans-Regular_web.woff") format("woff"), url("components/fonts/FreshSansRegular/FreshSans-Regular_web.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansLight/FreshSans-Italic_web.eot");
  src: url("components/fonts/FreshSansLight/FreshSans-Italic_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansLight/FreshSans-Italic_web.woff2") format("woff2"), url("components/fonts/FreshSansLight/FreshSans-Italic_web.woff") format("woff"), url("components/fonts/FreshSansLight/FreshSans-Italic_web.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansMedium/FreshSans-Medium_web.eot");
  src: url("components/fonts/FreshSansMedium/FreshSans-Medium_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansMedium/FreshSans-Medium_web.woff2") format("woff2"), url("components/fonts/FreshSansMedium/FreshSans-Medium_web.woff") format("woff"), url("components/fonts/FreshSansMedium/FreshSans-Medium_web.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.eot");
  src: url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.woff2") format("woff2"), url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.woff") format("woff"), url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansMedium/FreshSans-Medium_web.eot");
  src: url("components/fonts/FreshSansMedium/FreshSans-Medium_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansMedium/FreshSans-Medium_web.woff2") format("woff2"), url("components/fonts/FreshSansMedium/FreshSans-Medium_web.woff") format("woff"), url("components/fonts/FreshSansMedium/FreshSans-Medium_web.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.eot");
  src: url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.woff2") format("woff2"), url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.woff") format("woff"), url("components/fonts/FreshSansMediumItalic/FreshSans-MediumItalic_web.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansBold/FreshSans-Bold_web.eot");
  src: url("components/fonts/FreshSansBold/FreshSans-Bold_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansBold/FreshSans-Bold_web.woff2") format("woff2"), url("components/fonts/FreshSansBold/FreshSans-Bold_web.woff") format("woff"), url("components/fonts/FreshSansBold/FreshSans-Bold_web.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'FreshSans';
  src: url("components/fonts/FreshSansBoldItalic/FreshSans-BoldItalic_web.eot");
  src: url("components/fonts/FreshSansBoldItalic/FreshSans-BoldItalic_web.eot?#iefix") format("embedded-opentype"), url("components/fonts/FreshSansBoldItalic/FreshSans-BoldItalic_web.woff2") format("woff2"), url("components/fonts/FreshSansBoldItalic/FreshSans-BoldItalic_web.woff") format("woff"), url("components/fonts/FreshSansBoldItalic/FreshSans-BoldItalic_web.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'FreshScriptRegular';
  src:    url('components/fonts/FreshScript/FreshScript-Regular.eot');
  src:    url('components/fonts/FreshScript/FreshScript-Regular.eot?#iefix') format('embedded-opentype'),
          url('components/fonts/FreshScript/FreshScript-Regular.woff') format('woff'),
          url('components/fonts/FreshScript/FreshScript-Regular.woff2') format('woff2'),
          url('components/fonts/FreshScript/FreshScript-Regular.ttf') format('truetype'),
          url('components/fonts/FreshScript/FreshScript-Regular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'HelveticaRegular';
    src:    url('components/fonts/Helvetica/helvetica-regular.eot');
    src:    url('components/fonts/Helvetica/helvetica-regular.eot?#iefix') format('embedded-opentype'),
            url('components/fonts/Helvetica/helvetica-regular.woff') format('woff'),
            url('components/fonts/Helvetica/helvetica-regular.ttf') format('truetype'),
            url('components/fonts/Helvetica-regular.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
