<div class="searchLanding">
	<h1 class="brand" aria-labelledby="Woolworths logo image" role="logo">
		<img alt="Woolworths logo" src="../images/logo_white.png">
	</h1>

<div class="container">
  <!--<div class="store-info" aria-labelledby="Store Map Image" role="map image">
      <div class="storeMap" ng-show="storeMapDiv">
        <img alt="Store map" src="{{mapPath}}">
        <div aria-labelledby="Close map" role="Close" ng-click="closeMap()" class="closebutton"></div>
      </div>
  </div>-->
</div>
</div>
<div class="searchBar" aria-labelledby="Search for products" role="Search">
 <div class="container form-container">
 	<h1 class="light">Find a Product in Store</h1>
 	<div class="col-md-11 col-sm-11 col-xs-11">
     	<!--<div class="form">
  		<div class="iconed-auto-completed">
     		<tags-input ng-model="selectedProduct"
             display-property="result"
             placeholder="Search For Product"
             replace-spaces-with-dashes="false"
             max-tags="1"
             add-on-blur="false"
             template="tag-template"  id="data" class="form-control" restrict-to-max-tags ng-class="{'has-tags': product.length}" on-tag-added="goProductlisting()">
           	<span class="icon">
       			<a title="Search" ng-click="search()">
       				<i class="fa fa-search"></i>
       			</a>
       		</span>
     			<auto-complete source="loadSuggestions($query)"
                    min-length="2"
                    max-results-to-show="5"
                    select-first-match="false"
                    debounce-delay="500"
                    template="autocomplete-template" class="autoComplete"></auto-complete>
     			</tags-input>

   		</div>
   		</div>-->
      <div class="form searchIconed">
        <input type="text" ng-model="selectedProduct" placeholder="Search for products" ng-enter="goProductlistingEnter()" typeahead-wait-ms="700" typeahead-focus-first="false" typeahead-editable="true" uib-typeahead="suggestion.result for suggestion in loadSuggestions($viewValue)" typeahead-no-results="noResults" typeahead-on-select="goProductlisting($item, $model)" typeahead-no-results="noResults" class="typeAhead form-control">
        <span class="icon">
          <a title="Search" ng-click="goProductlistingEnter()">
            <i class="fa fa-search"></i>
          </a>
        </span>
        <a ng-if="selectedProduct" class="remove-button" ng-click="$removeTag()">&times;</a>
        <div class="noAutoSuggest" ng-show="noResults">
          No Results Found
        </div>
      </div>
   </div>
   <div class="col-md-1 col-sm-1 col-xs-1">
    <span aria-labelledby="Toggle Map" role="Toggle" class="map-marker active">
      	  <a ng-click="toggleMap()"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
      </span>
    </div>
  </div>
</div>

  <div class="mostSearched" aria-labelledby="Most Searched Keywords Section" role="keywords">
    <div class="container">
    	<h2 class="light">Most Searched Products:</h1>
    			<div ng-if="keyword">
					<ul class="hList">
  						<li ng-repeat="suggestions in keyword | limitTo: 10">
  							<h4 class="keywords">{{suggestions.result}}</h4>
  						</li>
					</ul>
    			</div>
    </div>
  </div>
</div>

