<div scrollcustom class="productListHeader" aria-labelledby="Product Listing Page" role="Results">
<div class="searchLanding">
	<h1 class="brand" aria-labelledby="Woolworths logo image" role="logo">
		<a href="" ng-href="/">
			<img alt="Woolworths logo" src="../images/logo_white.png">
		</a>
	</h1>

	<div ng-show="storeMapDiv" class="container">
  		<div class="store-info" aria-labelledby="Store Map Image" role="map image">
      		<div class="storeMap">
        		<img alt="Store map" src="{{mapPath}}">
        		<div aria-labelledby="Close map" role="Close" ng-click="closeMap()" class="closebutton"></div>
      		</div>
  		</div>
	</div>
</div>

<div class="searchBar" aria-labelledby="Search for products" role="Search">
  <div class="container form-container">
  <h1 class="light">Find a Product in Store</h1>

  <div class="col-md-11 col-sm-11 col-xs-11">

    <div class="form searchIconed">
      <input type="text" ng-model="selectedProduct" placeholder="Search for products" ng-enter="goProductlistingEnter()" typeahead-wait-ms="700" typeahead-focus-first="false" typeahead-editable="true" uib-typeahead="suggestion.result for suggestion in loadSuggestions($viewValue)" typeahead-no-results="noResults" typeahead-on-select="goProductlisting($item, $model)" typeahead-no-results="noResults" class="typeAhead form-control">
      <span class="icon">
        <a title="Search" ng-click="goProductlistingEnter()">
          <i class="fa fa-search"></i>
        </a>
      </span>
      <a ng-if="selectedProduct" class="remove-button" ng-click="$removeTag()">&times;</a>
      <div class="noAutoSuggest" ng-show="noResults">
        No Results Found
      </div>
    </div>
   </div>
  <div class="col-md-1 col-sm-1 col-xs-1">
 	<span aria-labelledby="Toggle Map" role="Toggle" class="map-marker">
     	  <a ng-click="toggleMap()"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
     </span>
 </div>
</div>
</div>

<div class="loading" ng-if="productLoading">
  <div class="loader">
   <i class="fa fa-circle-o-notch fa-spin spinner" aria-hidden="true"></i>
    <span class="text">Searching</span>
  </div>
</div>

<div ng-if="!product_count" aria-labelledby="Product Results" role="Results">
	<div class="product-listing container" ng-if="!productLoading">
		<h1 class="light">No product found for "{{term}}"</h1>
	</div>
</div>

<div ng-if="product_count" aria-labelledby="Product Results" role="Results">
<div class="product-listing container" ng-if="!productLoading" infinite-scroll="loadMoreProducts()" infinite-scroll-disabled="productInfinteLoading" infinite-scroll-distance="0.05">
  <h1 class="light">Showing {{product_count}} results For "{{term}}"</h1>

  <div class="table-lister">
    <div class="lister-heading">
    	<div class="row row-flex ">
  				<div class="sortComponent">
      				<p class="small"><b>Sort by</b></p>
    					<select ui-select2 ng-model="sortoption" class="wow-select" data-placeholder="Relevance" ng-required="true" ng-change="productSort(sortoption)"
    						data-ng-options="sort as sort.name for sort in sortoptions">
      						<option value=""></option>
    					</select>
    			</div>
    	</div>
    </div>

    <div class="loading" ng-if="sortingProducts">
	  <div class="loader">
	    <i class="fa fa-circle-o-notch fa-spin spinner" aria-hidden="true"></i>
	    <span class="text">Sorting ...</span>
	  </div>
	</div>

    <ul class="item-list" ng-if="!sortingProducts">
      <li class="clearfix" ng-repeat="product in allProducts" >
        <div class="row row-flex ">
          <div class="col-sm-9">
            <div class="media">
              <div class="media-left">
                <div class="image large">
                  <img aria-hidden="true" class="image" ng-src="{{product.images.thumbnail}}">
                </div>
              </div>
              <div class="media-body">
              	<div class="media-body-content">
                	<h2>{{product.description}}</h2>
                	<h4>{{product.ecfcategory2}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 aisle-column" ng-if="product.instoreaisleid !== undefined && product.instoreaisleid !== 0">
            <h5 class="aisle-number">Aisle {{product.instoreaisleid}}</h5>
          </div>
          <div class="col-sm-3 aisle-column" ng-if="product.instoreaisleid !== undefined && product.instoreaisleid == 0">
            <h5 class="aisle-number">{{product.instorelocation.replace('Find in', '')}}</h5>
          </div>
          <div class="col-sm-3 aisle-column" ng-if="product.instoreaisleid == undefined">
            <h5 class="aisle-number">Ask the store team for aisle location</h5>
          </div>
        </div>
      </li>
    </ul>
    <div class="inline-loader" ng-if="productInfinteLoading">
      <div class="loader">
        <i class="fa fa-circle-o-notch fa-spin spinner" aria-hidden="true"></i>
        <span class="text">Loading more products ...</span>
      </div>
    </div>
  </div>
   <script type="text/ng-template" id="tag-template">
    <div class="tag-template">
      <div class="right-panel">
        <span>{{data.result}}</span>
        <a class="remove-button" ng-click="$removeTag()">&times;</a>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="autocomplete-template">
    <div class="autocomplete-template">
      <div>{{data.result}}</div>
    </div>
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
  	$('.wow-select').select2();
    });
</script>
</div>
</div>
</div>
