<div class="fixed-form">
  <div class="container">
    <span class="home-icon">
      <a href="" ng-href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
    </span>
    <div class="iconed-auto-completed">
      <tags-input ng-model="selectedProduct"
              display-property="result"
              placeholder="Search For Product"
              replace-spaces-with-dashes="false"
              max-tags="1"
              template="tag-template" add-from-autocomplete-only="false" class="form-control" restrict-to-max-tags ng-class="{'has-tags': product.length}"  on-tag-added="goProductlisting()">
       <span class="icon"><i class="fa fa-search"></i></span>
      <auto-complete source="loadSuggestions($query)"
                     min-length="2"
                     max-results-to-show="15"
                     select-first-match="false"
                     add-on-blur="false"
                     debounce-delay="500"
                     template="autocomplete-template" class="autoComplete"></auto-complete>
      </tags-input>
    </div>

  </div>
</div>
<div class="loading" ng-if="productLoading">
  <div class="loader">
   <i class="fa fa-circle-o-notch fa-spin spinner" aria-hidden="true"></i>
    <span class="text">Searching</span>
  </div>
</div>
<div class="product-listing" ng-if="!productLoading">
  <h1 class="light">{{allProducts.length}} results for "{{term}}"</h1>

  <div class="table-lister">
    <div class="lister-heading">
      <div class="row">

  <div class="sortComponent">
      <p class="small"><b>Sort By</b></p>
    <select ui-select2 ng-model="sortoption" class="wow-select" data-placeholder="Relevance" ng-required="true" ng-change="onSelect(sortoption)"
    data-ng-options="sort as sort.name for sort in sortoptions">
      <option value=""></option> 
    </select>
  </div>
  
      </div>
    </div>

        <div class="loading" ng-if="sortingProducts">
	  <div class="loader">
	    <i class="fa fa-circle-o-notch fa-spin spinner" aria-hidden="true"></i>
	    <span class="text">Sorting ...</span>
	  </div>
	</div>

    <ul class="item-list" ng-if="!sortingProducts">
      <li class="clearfix" ng-repeat="product in allProducts" >
        <div class="row row-flex ">
          <div class="col-sm-6 border-right">
            <div class="media">
              <div class="media-left">
                <div class="image large">
                  <img class="image" ng-src="{{product.images.thumbnail}}">
                </div>
              </div>
              <div class="media-body">
                <h5>
                  {{product.description}}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 border-right">
            <h5 class="category">{{product.ecfcategory1}}</h5>
          </div>
          <div class="col-sm-3">
				<h5 class="category">{{product.instorelocation}}</h5>
          </div>
        </div>
      </li>
    </ul>
  </div>
   <script type="text/ng-template" id="tag-template">
    <div class="tag-template">
      <div class="right-panel">
        <span>{{data.result}}</span>
        <a class="remove-button" ng-click="$removeTag()">&times;</a>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="autocomplete-template">
    <div class="autocomplete-template">
      <div>{{data.result}}</div>
    </div>
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
  	$('.wow-select').select2();
    });

</script>
